flask
requests
apscheduler
python-dateutil
pytz
pymupdf
fpdf
python-docx
werkzeug
python-dotenv
pdf2docx
pytesseract
pdf2image
pandas
openpyxl
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
pymongo
google-generativeai
